@import "variables.less";

button[class^="btn-"] {
    outline: none;
    &.disabled {
        cursor:not-allowed;
    }
    &.active {
        cursor: pointer;
    }
}

.btn-base {
    border-radius: .25rem;
    border: 1px solid transparent;
    font-size: @t-body-sm;
    line-height: calc(@t-body-sm + 30%);
    padding: .85rem 1.75rem;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 10ch; // character unit
}

// Primary button
.btn-primary:extend(.btn-base) {
    background-color: @primary-color;
    border-color: @primary-color;
    color: #fff;
    &:disabled {
        background-color: tint(@primary-color, 60%);
        border-color: tint(@primary-color, 60%);
    }
    &.active {
        background-color: shade(@primary-color, 30%);
        border-color: shade(@primary-color, 60%);
    }
     &:hover:enabled,
     &.active:hover:enabled {
        background-color: shade(@primary-color, 60%);
        border-color: shade(@primary-color, 60%);
     }
}

// Secondary button
.btn-secondary:extend(.btn-base) {
    border-color: @primary-color;
    background-color: transparent;
    color: @primary-color;
    &:disabled {
        border-color: tint(@primary-color, 60%);
        color: tint(@primary-color, 60%);
    }
    &.active {
        background-color: tint(@primary-color, 80%);
        border-color: shade(@primary-color, 60%);
        color: shade(@primary-color, 60%);
    }
    &:hover:enabled,
    &.active:hover:enabled {
        background-color: @primary-color;
        border-color: shade(@primary-color, 10%);
        box-shadow: none;
        color: #fff;
    }
}

// Small button
// Add .btn-small to Primary or Secondary buttons
.btn-small:extend(.btn-base) {
    font-size: @t-body-sm;
    line-height: calc(@t-body-sm + 30%);
    padding: .55rem 1.45rem;
}

// Tabs
.tabs-dropdown {
    & button.tab:extend(.mb1-md),
    & button.tab:extend(.btn-base){
        background-color: @lightgray;
        color: @primary-color;
        text-align: left;
        width: 100%;
    }
}