@import "variables.less";

// Reset CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// Styles

html {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: @body-size;
    font-weight: 400;
}

p.text-body {
    font-weight: 300;
    &.small {
        font-size: @small-under-body-text;
    }
}



h1, h2, h3, h4, h5, h6, p {
    margin-bottom: .5em;
}

h1 {
    font-size: @hero1-text;
}

h2 {
    font-size: @hero2-text;

}

h3 {
    font-size: @hero3-text;

}

h4 {
    font-size: 1.50rem;

}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}




header {
    background: aquamarine;
    display: flex;
    flex-direction: row;
}

#logo {
    background: cadetblue;
    padding: 1em;
    img {
        height: 30px;
        width: auto;
    }
}

#switchBP {
    background: transparent;
    ul {
        display: flex;
    }
}

#mainNav {
    background: cornflowerblue;
    flex: 1;
    ul {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        li {
            padding: 1em;
            display: flex;
            align-items: center;
        }
    }
    & a {
        font-size: @body-size;
        text-decoration: none;
        color: black;
        &:hover {
            color: @primary-color;
        }
    }
}


.CTA {
    background: chocolate;
    display: flex;
    height: 300px;
    .CTA-text {
        flex: 2;
        background: bisque;
    }
    .CTA-image {
        flex: 1;
        background-image: url("../img/image2.png");
        background-size: cover;
        overflow: hidden;
    }
}

footer {
    background: blueviolet;
    display: flex;
    flex-direction: row;
}

.foot1 {
    background: cadetblue;
    flex:2;
    display: flex;
    flex-direction: column;
    #logo2 {
        flex: 2;
    }

}

.foot2 {
    background: aquamarine;
    flex: 1;
}

.foot3 {
    background: darkgoldenrod;
    flex:1;
}

.allApps {
    display: flex;
    flex-direction: row;
    .App {
        background-color: indianred;
        border-radius: 15%;
        background-image: url("../img/image2.png");
        background-size: cover;
        overflow: hidden;
        height: 50px;
        width: 50px;
        margin: 0 5px;
    }

}

//Buttons

button[class^="btn-"] {
    outline: none;
    &.disabled {
        cursor:not-allowed;
    }
    &.active {
        cursor: pointer;
    }
}

a {
    color: @primary-color;
    text-decoration: none;
    background-color: transparent;
    transition: all .2s ease;
    font-size: @body-size;

    &:hover {
        color: shade(@primary-color, 60%);
        text-decoration: underline;

    }
}

#switchBP {
    & a {
        font-size: @small-under-body-text;
        text-transform: uppercase;
        letter-spacing: .15em;

        &:hover {
            text-decoration: none;
        }

    }
    & ul li {
        padding: 1em;
        border: 1px solid transparent;
        &:hover {
            border-bottom-color: red;
        }
    }
}


footer {
    color: #fff;
    & a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    & ul li {
        padding: 0.15em;
    }
    & p.address {
        font-weight: 500;
    }
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}











