@import "variables.less";
@import "flexbox.less";
@import "buttons.less";
@import "dynamicSpacing.less";

// Reset CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// General text
html {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: @t-body;
    line-height: calc(@t-body + 30%);
    font-weight: @f-regular;
}

p.t-body, p.t-body-sm, p.t-body-xs,
span.t-body, span.t-body-sm, span.t-body-xs {
    font-weight: @f-light;
}

p.t-body,
span.t-body {
    font-size: @t-body;
    line-height: calc(@t-body + 30%);
    &-sm {
        font-size: @t-body-sm;
        line-height: calc(@t-body-sm + 30%);
    }
    &-xs {
        font-size: @t-body-xs;
        line-height: calc(@t-body-xs + 30%);
        }
}

// Font weight
.f-light {
    font-weight: @f-light;
}
.f-regular {
    font-weight: @f-regular;
}
.f-medium {
    font-weight: @f-medium;
}
.f-bold {
    font-weight: @f-bold;
}

// Links
a {
    color: @primary-color;
    text-decoration: none;
    background-color: transparent;
    transition: all .1s ease;
    font-size: @t-body;
    line-height: calc(@t-body + 30%);
    &:hover {
        color: shade(@primary-color, 60%);
        text-decoration: none;
    }
}

// Heading
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: @f-light;
}

h1, .h1 {
    font-size: @hero-title;
}
h2, .h2 {
    font-size: @xl-title;
}
h3, .h3,
.section-title {
    font-size: @lg-title;
}
h4, .h4 {
    font-size: @md-title;
}
h5, .h5 {
    font-size: @sm-title;
}
h6, .h6 {
    font-size: @xm-title;
}

// Body – Container
.main-container:extend(.vbox) {
    min-height: 100vh;
}

// Header
header {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: .05em .05em .05em @lightgray;
}

.header-container:extend(.hbox, .flex-wrap) {
    .header-elements:extend(.hbox, .flex-wrap, .f-ai-center) {
        margin: 1em 0;
    }
}

#logo,
#logo-compact {
    background-color: transparent;
    img {
        height: 2rem;
        width: auto;
    }
}

// Header – Navigation
#switchBP {
    background-color: transparent;
    text-align: center;
    & ul li {
        padding: .25em;
        border: 1px solid transparent;
        &:hover,
        &.active {
            border-bottom-color: @primary-color;
            & a {
                font-weight: @f-medium;
                color: @secondary-color;
                text-decoration: none;
            }
        }
    }
    & a {
        font-size: @t-body-xs;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-weight: @f-light;
        color: tint(@secondary-color, 60%);
    }
}

#mainNav {
    background-color: transparent;
    text-align: center;
    ul {
        align-content: center;
        justify-content: flex-end;
        li:extend(.hbox, .f-ai-center) {
            padding: 0 1.5em;
        }
    }
    & a {
        font-size: @t-body;
        text-decoration: none;
        color: @secondary-color;
        &:hover {
            color: @primary-color;
        }
        &.active {
            color: @primary-color;
        }
    }
}

// CTA
.CTA-container:extend(.hbox, .flex-wrap) {
    background-color: @lightblue;
        .CTA-img {
            background-image: url("../img/home.png");
            background-size: cover;
            overflow: hidden;
        }
}

// Page headers
.header-img {
    width: 100%;
    min-height: 400px;
    max-height: 50vh;
    background-size: cover;
    overflow: hidden;
    background-position-y: center;
    &#features-img {
        background-image: url("../img/features.png");
    }
    &#privacy-img {
        background-image: url("../img/privacy.png");
    }
}

// Page content
#p-overall-info {
    text-align: center;
}

.p-content-wrapper:extend(.hbox) {
    & .p-quick-access {
        position: sticky;
        top: 100px;
        text-align: right;
        & ul li:extend(.mb05) {
        }
        & a {
            font-size: @t-body-sm;
            color: @secondary-color;
            &:hover, &.active {
                color: @primary-color;
            }
        }
    }
}

.CTA-getStarted {
    background-color: @lightgray;
    border-radius: .25rem;
    padding: 30px;
    text-align: center;
    & h3 {
        font-weight: 500;
    }
}

// Footer
footer {
    background-color: @primary-color;
    color: #fff;
    & a {
        color: #fff;
        &:hover {
        }
    }
}

.footer-container:extend(.hbox, .flex-wrap) {
    .footer-elements:extend(.hbox, .flex-wrap, .f-ai-start) {
    }
}


.allApps {
    display: flex;
    flex-direction: row;
    .App {
        background-color: indianred;
        border-radius: 15%;
        background-image: url("../img/image2.png");
        background-size: cover;
        overflow: hidden;
        height: 50px;
        width: 50px;
        margin: 0 5px;
    }
}

.illustrations {
    display: flex;
    flex-direction: row;
}

.illustration {
    flex: 1;
}

// Margins
// Dynamic margins in dynamicSpacing.less
.m05 {
  margin: .5rem;
}
.mt05 {
  margin-top: .5rem;
}
.mr05 {
  margin-right: .5rem;
}
.mb05 {
  margin-bottom: .5rem;
}
.ml05 {
  margin-left: .5rem;
}
.mx05 {
  margin-right: .5rem;
  margin-left: .5rem;
}
.my05 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

// Paddings
// Dynamic paddings in dynamicSpacing.less
.p05 {
  padding: .5rem;
}
.pt05 {
  padding-top: .5rem;
}
.pr05 {
  padding-right: .5rem;
}
.pb05 {
  padding-bottom: .5rem;
}
.pl05 {
  padding-left: .5rem;
}
.px05 {
  padding-right: .5rem;
  padding-left: .5rem;
}
.py05 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.text-dropdown {
    padding-left: 2rem;
    font-weight: 300;
}

