@import "variables.less";
@import "buttons.less";

// Reset CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
// General text styles
html {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: @tbody-size;
    font-weight: @tregular;
}

p.tbody {
    font-size: @tbody-size;
    line-height: calc(@tbody-size + 30%);
    font-weight: @tlight;
    &.small {
        font-size: @tbody-size-sm;
        line-height: calc(@tbody-size-sm + 30%);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: @tlight;
}

h1 {
    font-size: @hero-title;
}
h2 {
    font-size: @x-lg-title;
}
h3 {
    font-size: @lg-title;
}
h4 {
    font-size: @md-title;
}
h5 {
    font-size: @sm-title;
}
h6 {
    font-size: @x-sm-title;
}



.header-image {
    &#features-image {
        background-image: url("../img/features.png");
    }
    &#privSec-image {
        background-image: url("../img/privacy.png");
    }
    width: 100%;
    height: 600px;
    background-size: cover;
    overflow: hidden;
    background-position-y: center;


}

footer {
    color: #fff;
    background-color: @primary-color;
    display: flex;
    flex-direction: row;
    & a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    & ul li {
        padding: 0.15em;
    }
    &.address {
        font-weight: 500;
    }
    & strong {
        font-weight: 500;
    }
}

.foot1 {
    flex:2;
    display: flex;
    flex-direction: column;
    #logo2 {
        flex: 2;
    }
}
.foot2 {
    flex: 1;
}
.foot3 {
    flex:1;
}
.allApps {
    display: flex;
    flex-direction: row;
    .App {
        background-color: indianred;
        border-radius: 15%;
        background-image: url("../img/image2.png");
        background-size: cover;
        overflow: hidden;
        height: 50px;
        width: 50px;
        margin: 0 5px;
    }
}

a {
    color: @primary-color;
    text-decoration: none;
    background-color: transparent;
    transition: all .2s ease;
    font-size: @tbody-size;
    &:hover {
        color: shade(@primary-color, 60%);
        text-decoration: underline;
    }
}

.overall-info {
    text-align: center;
}

.get-started-bottom {

    background-color: gainsboro;
    padding: 30px;
    text-align: center;
    & h3 {
        font-weight: 500;
    }

}

.illustrations {
    display: flex;
    flex-direction: row;
}

.illustration {
    flex: 1;
}

// Flexbox
.dflex {
    display: flex;
}

.hbox:extend(.dflex) {
    flex-direction: row; // items organized horizontally from left to right
    &.reverse {
        flex-direction: row-reverse;
    }
}

.vbox:extend(.dflex) {
    flex-direction: column; // items organized vertically from top to bottom
    &.reverse {
        flex-direction: column-reverse;
    }
}

[class^="flex-"] {
    max-width: 100%;
    min-height: 0px !important;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-items-start {
    align-items: flex-start;
}

.flex-items-end {
    align-items: flex-end;
}

.flex-items-center {
    align-items: center;
}

// Vertical spacing
.mb-1 {
    margin-bottom: .25rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.25rem;
}

.mb-5 {
    margin-bottom: 1.5rem;
}

.mb-6 {
    margin-bottom: 2rem;
}

// Header
header {
    background-color: "fff";
}

.header-container:extend(.hbox, .flex-wrap) {
    .header-elements:extend(.hbox, .flex-wrap, .flex-items-center) {
    }
}

#logo {
    background-color: transparent;
    img {
        height: 30px;
        width: auto;
    }
}

// Header – Navigation
#switchBP {
    background-color: transparent;
    & ul li {
        padding: .5em .25em;
        border: 1px solid transparent;
        &:hover {
            border-bottom-color: @primary-color;
        }
        &.active {
            border-bottom-color: @primary-color;
        }
    }
    & a {
        font-size: @tbody-size-x-sm;
        text-transform: uppercase;
        letter-spacing: .15em;
        font-weight: @tlight;
        color: tint(@secondary-color, 60%);
        &:hover {
            font-weight: @tregular;
            text-decoration: none;
            color: @secondary-color;
        }
        &.active {
            font-weight: @tregular;
            color: @secondary-color;
            text-decoration: none;
        }
    }
}

#mainNav {
    background-color: transparent;
    ul {
        align-content: center;
        justify-content: flex-end;
        li:extend(.hbox, .flex-items-center) {
            padding: 1em;
        }
    }
    & a {
        font-size: @tbody-size;
        text-decoration: none;
        color: @secondary-color;
        &:hover {
            color: @primary-color;
        }
        &.active {
            color: @primary-color;
        }
    }
}

// CTA
.CTA-container:extend(.hbox, .flex-wrap) {
    background-color: @lightblue;
        .CTA-img {
            background-image: url("../img/home.png");
            background-size: cover;
            overflow: hidden;
        }
}

.dropdown-feature {
    & button {
        background-color: #e7e7e7;
        border: none;
        color: @primary-color;
        padding: 15px 15px;
        width: 90%;
        font-family: "Roboto", Arial, Sans-serf;
        font-size: @tbody-size;
        text-align: left;
    }
}

.quick-access {
    font-size: @tbody-size-sm;
}

.sticky-menu {
    position: sticky;
    top: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
}


.col1 {
    //background-color: #003153;
    flex: 1;
}

.col2 {
    //background-color: mediumvioletred;
    flex: 3;
}

.col3 {
    //background-color: chocolate;
    flex: 1;
}

.w-50 {
    width: 50%;
}