


input,
label,
select,
button,
textarea
{
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;

  /* Browsers have different default form fonts */
  font-size:18px;
  font-family:Arial;
}

input.start-form {
  border-bottom: 1px solid black;
  width: 90%;
  margin-bottom: 50px;

}