// Colors
@primary-color: #007AD0; // Telenor blue
@secondary-color: #0C1026;

@lightblue: #E6EEF4;

// Text sizes
@tbody-size: 18px;
@tbody-size-sm: .85em;
@tbody-size-x-sm: .65em;

@hero-title: 4.5em;
@x-lg-title: 3.4em;
@lg-title: 2.3em;
@md-title: 1.3em;
@sm-title: 1em;
@x-sm-title: 1em;

// Text weights
@tlight: 300;
@tregular: 400;
@tmedium: 500;
@tbold: 700;



@number-text: 1.1em;






