// Colors
@primary-color: #007AD0; // Telenor blue
@secondary-color: #0C1026;

@lightblue: #E6EEF4;
@lightgray: #F5F5F5;

// Text
@t-body: 18px;
@t-body-sm: calc(@t-body - 15%);
@t-body-xm: calc(@t-body - 25%);

// Headings
@hero-title: 4.5em;
@xl-title: 3em;
@lg-title: 2em;
@md-title: 1.5em;
@sm-title: 1.25em;
@xm-title: 1em;

// Font weights
@f-light: 300;
@f-regular: 400;
@f-medium: 500;
@f-bold: 700;

// Media queries
@screen-x-sm-max: 600px; // Extra small devices (phones, 600px and down)
@screen-sm-min: 600px; // Small devices (portrait tablets and large phones, 600px and up)
@screen-md-min: 768px; // Medium devices (landscape tablets, 768px and up)
@screen-lg-min: 992px; // Large devices (laptops/desktops, 992px and up)
@screen-x-lg-min: 1200px; // Extra large devices (large laptops and desktops, 1200px and up)






